.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
}

.background::after {
  content: '';
  height: 100vh;
  width: 30%;
  background-color: #EFECF4;
  position: fixed;
  top: 0px; left: 0px;
  z-index: -1;
  transition: all .3s ease;
}

.background.final-page::after {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: auto;
  width: 100vw;
  justify-content: space-evenly;

}

#card-container {
  width: 450px;
}

#form-container {
  width: 30%;
  align-self: baseline;
  display: flex;
  flex-direction: column;
  height: 93vh;
  max-height: 700px;
}

#form-container #welcome-title {
  font-weight: 700;
  color: #121212;
  font-size: 32px;
  margin-top: auto;
}

#form-container #welcome-text {
  color: #121212;
  font-size: 14px;
  line-height: 21px;
  max-width: 330px;
}

#form-container #form-footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.background.final-page #form-container #form-footer {
  justify-content: center;
}

.background.final-page #form-container #form-footer .button-container {
  padding: 8px 60px;
}
